<section class="hero is-large is-danger is-bold">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a href="/" class="navbar-item">
            <p class="title">Weather Website</p>
          </a>
          <span class="navbar-burger burger" data-target="navbarMenuHeroB">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroB" class="navbar-menu">
          <div class="navbar-end">
            <a href="/" class="navbar-item">
              Home
            </a>
            <a class="navbar-item" href="/compare">Compare weather</a>
            <a class="navbar-item" href="/database">Database items</a>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        No city found through api call
      </h1>
      <h2 class="subtitle">
        Please try again
      </h2>
    </div>
  </div>
</section>