<section class="section">
  <div class="container">
    <div class="row columns is-multiline">
      {{#if city.length}}
      {{#each city}}
      <div class="column is-one-third">
        <div class="card large">
            <p class="title" >{{name}}</p>
            <form method="GET" action="/showCityInfo/{{id}}" ><button class="button" >Show more</button></form>
        </div>
      </div>
      {{/each}}
      {{else}}
      <p>No city entries</p>
      {{/if}}
    </div>
  </div>
</section>