<section class="hero is-info is-medium is-bold">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
           <div class="navbar-brand">
          <a href="/" class="navbar-item">
           <p class="title">Weather Website</p> 
          </a>
          <span class="navbar-burger burger" data-target="navbarMenuHeroB">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroB" class="navbar-menu">
          <div class="navbar-end">
            <a href="/" class="navbar-item">
              Home
            </a>
            <a class="navbar-item" href="/compare">Compare weather</a>
            <a class="navbar-item is-active" href="/database">Database items</a>
            <a class="navbar-item">
              Documentation
            </a>
          </div>
        </div>
      </div>
    </nav>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="row columns is-multiline">
      {{#if city.length}}
      {{#each city}}
      <div class="column is-one-third">
        <div class="card large">
            <p class="title" >{{name}}</p>
            <form method="GET" action="/showCityInfo/{{id}}" ><button class="button" >Show more</button></form>
        </div>
      </div>
      {{/each}}
      {{else}}
      <p>No city entries</p>
      {{/if}}
    </div>
  </div>
</section>